<h1>Remote sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Src Server</th>
    <th>Dest Server</th>
    <th>Login Name</th>
    <th>actions</th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.name, site %></td>
    <td><%= site.task_description %></td>
    <td><%= site.src_sitename %></td>
    <td><%= site.dest_sitename %></td>
    <td><%= site.src_username %></td>
    <td>
    	<%= link_to 'Show', site %>
    	<%= link_to 'Edit', edit_site_path(site) %>
    	<%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
