<h1><%= @site.name %></h1>

<p id="notice"><%= notice %></p>

<%= render :partial=>'form', :locals=>{:site=>@site, :disableFlag=>true} %>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
<%= link_to "Connect", connect_site_path(@site) %>
<%= link_to "Transfer", transfer_site_path(@site) %>
<%= link_to "Schedule", schedule_site_path(@site) %>
